body {
    background-image: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    font-family: Luckiest Guy;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

.yt-container {
    width: 500px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ffffff
}

.yt-container img {
    float: left;
    width: 44px;
    height: 31px;
}

.link-yt {
    font-family: Luckiest Guy;
    font-size: 20px;
    color: #000000;
    text-align: center;
}